/* common */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* font-family: 'Jua', sans-serif; */


html {font-size: 100%; font-weight:400; color: #222222; letter-spacing: -.5px;}

html, body {height: 100%; min-height: 100%; box-sizing: border-box; line-height: 1; margin: 0; padding: 0; font-family: 'NanumSquare';}
div, section {margin: 0; padding: 0; box-sizing: border-box;}


input:focus {border: none; outline: none;}
input[type="text"], input[type="button"], input[type="tel"] {box-sizing: border-box; padding: 0; height: 24px; font-family: 'NanumSquare'; font-size: 12px; letter-spacing: -.5px; border: solid 1px #ddd; width: 100%; margin-bottom: 2px; padding-left: 5px;}

h1, h2, h3, h4, h5, h6 {font-size:inherit; font-weight:inherit; margin:0; padding: 0; font-family: 'NanumSquare';}
img, a {display: block;}

p {font-family: 'NanumSquare'; letter-spacing: -1px;}
