@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html, body, div, section {margin: 0; padding: 0; line-height: 1; box-sizing: border-box; font-family: 'NanumSquare', sans-serif;}
img {display: block;}

.banner_txt_area {width: 100%; height: 720px; background-color: #3f3f4f; padding: 0 50px;}
.banner_txt_box {position: relative; top: 50%; transform: translateY(-50%);}
.banner_txt {font-size: 30px; color: #fff; text-align: center; line-height: 1.3;}

.banner_txt.animation {animation: bannerTxtAni 1s ease-out 1s forwards; opacity: 0;}
@keyframes bannerTxtAni {
    0% {transform: translateY(-30%); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}


#button_start {display: block; margin: 0 auto; width: 370px; height: 72px; line-height: 72px; background-color: #cf001f; font-size: 32px; color: #ffffaf; text-align: center; border-radius: 16px; font-weight: 700; margin-top: 60px;}
#button_start.animation {animation: buttonStartAni 1s ease-out 2s forwards; opacity: 0;}
@keyframes buttonStartAni {
    0% {transform: translateY(-30%); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

.event_contents {height: 0; opacity: 0; overflow: hidden;}
.event_contents.animation {animation: eventContentsAni 1s ease-out forwards;}
@keyframes eventContentsAni {
    0% {transform: translateY(-300px); opacity: 0; height: 0;}
    100% {transform: translateY(0); opacity: 1; height: auto;}
}

.user_profile_area {background-color: #ffcf2f; width: 100%; padding-top: 70px;}
.user_profile_box {position: relative; display: inline-block; top: 0; left: 50%; transform: translateX(-50%);}
#user_img {width: 200px; height: 200px; background: url(images/event/profile.png) no-repeat center/100%; border-radius: 50%; margin: 0 auto;}
#user_id {font-size: 30px; font-weight: 900; text-align: center; margin-top: 40px;}

.user_info_area {background-color: #cfffdf; width: 100%; padding: 50px;}
.user_info_area.num2 {background-color: #ffdfff;}
.user_info_area.num3 {background-color: #ffefaf;}
.user_info_area.num4 {background-color: #cfefff;}
.user_info_area.num5 {background-color: #ffdfdf;}
.user_info_area.num6 {background-color: #dfdfff;}

.user_info_title {font-size: 36px; color: #222; font-weight: 700; line-height: 1.2; letter-spacing: -1px;}
.user_info_title > strong {font-size: 50px; font-weight: 900; letter-spacing: normal;}
.user_info_title > small {color: #007eff; font-size: 24px;}
.user_info_sub_title {margin: 40px 0; font-size: 32px; font-weight: 700;}
.user_info_txt {font-size: 28px; line-height: 1.4; letter-spacing: -1px; margin-top: 40px;}
.user_info_txt > strong {display: inline-block; font-weight: 900; margin: 20px 0;}

.emoticon {display: inline-block; width: 25px; height: 25px; vertical-align: -3px;}

.feed_save_area {background-color: #3f3f4f; width: 100%; padding: 50px; text-align: center;}
.feed_save_txt {color: #fff; font-size: 36px; line-height: 1.2; font-weight: 600; text-align: left;}
#button_save {display: inline-block; background-color: #cf001f; padding: 20px 14%; border-radius: 16px; margin-top: 8%;}
#button_save > p {color: #ffffaf; font-size: 28px; text-align: center; letter-spacing: -1px;}
#button_save > p > strong {display: inline-block; font-size: 32px; margin-bottom: 5px;}

.feed_txt_area {background-color: #dfeff7; padding: 37px 50px;}
.feed_txt {color: #666; font-size: 24px; line-height: 1.4; letter-spacing: -1px;}

.event_attention_area {background-color: #f7fbff; padding: 50px;}
.event_attention_title {font-size: 32px; text-align: center; font-weight: 900; margin-bottom: 20px;}
.event_attention_txt > li{font-size: 18px; color: #222; line-height: 1.4; list-style-type: "- "; margin-bottom: 10px;}


@media only screen and (max-width : 500px) {
    
    .banner_txt_area {height: 600px; padding: 0 30px;}
    .banner_txt {font-size: 20px;}
    #button_start {font-size: 20px; width: 200px; height: 50px; line-height: 50px;}
    
    .user_profile_area {padding-top: 40px;}
    #user_img {width: 100px; height: 100px;}
    
    .user_info_area {padding: 50px 30px;}
    .user_info_title {font-size: 20px;}
    .user_info_title > strong {font-size: 40px;}
    .user_info_title > small {font-size: 18px;}
    .user_info_sub_title {font-size: 20px;}
    .user_info_txt {font-size: 18px;}
    
    .emoticon {width: 20px; height: 20px;}
    
    .feed_save_txt {font-size: 22px;}
    #button_save > p {font-size: 20px;}
    #button_save > p > strong {font-size: 24px;}
    .feed_txt {font-size: 20px;}
    
}