@charset 'utf-8';

.wrap {height: 100%; overflow: auto;}

/*---------------------------------------------------- TOP BANNER ----------------------------------------------------*/
.top_banner_wrap {width: 100%;}
.top_banner_img {width: 100%;}
.top_banner_txt_area {position: relative; width: 100%; height: auto; padding: 40px 10px; text-align: center;}
.top_banner_title {font-size: 26px; font-weight: 900; margin-bottom: 10px;}
.top_banner_txt {color: #333; font-size: 14px;}
.top_banner_txt > small {display: block; margin-top: 10px; color: #aaa; font-size: 12px;}
.top_banner_draw {position: absolute; width: 63px; top: 100px; left: 14px;}
.top_banner_price {text-align: right; color: #ff3f1f; font-size: 18px; margin-top: 50px;}
.top_banner_price > small {display: inline-block; text-decoration: line-through; color: #87878f; font-size: 20px; margin-bottom: 5px;}
.top_banner_price > strong {font-size: 32px; font-weight: 900;}

/*---------------------------------------------------- PRODUCT INFO ----------------------------------------------------*/

.product_info_wrap {width: 100%; padding: 40px 10px; background-color: #bfb3af;}
.product_info_title {text-align: center; font-size: 26px; color: #fff; font-weight: 700; margin-bottom: 20px;}
.product_info_table {background-color: #d7cfcf; border: solid 2px #efebeb; color: #636363; width: 100%;}
.product_info_table > thead {background-color: #efebeb;}
.product_info_table > thead > tr > th {padding: 10px; font-size: 18px;}
.product_info_table > tbody > tr > td {border: solid 2px #efebeb; font-size: 12px; padding: 10px;}
.product_info_table > tbody > tr > td:first-child {width: 90px;}

/*---------------------------------------------------- BUY PRODUCT ----------------------------------------------------*/

.buy_product_wrap > img {width: 100%;}

/*---------------------------------------------------- EVENT NOTICE ----------------------------------------------------*/

.event_notice_wrap {padding: 40px 20px;}
.event_notice_title {font-size: 26px; font-weight: 900; text-align: center; margin-bottom: 20px;}
.event_notice_list_area > li {list-style-image: url(../images/list.png); font-size: 14px; margin-bottom: 5px;}

/*---------------------------------------------------- DELIVERY INFO ----------------------------------------------------*/

.delivery_info_wrap {background-color: #000; padding: 40px 20px 80px 20px; color: #fff;}
.delivery_info_title {font-size: 26px; font-weight: 900; text-align: center; margin-bottom: 20px;}
.delivery_info_sub_title_area {display: flex; margin-bottom: 20px;}
.delivery_info_sub_title {font-size: 18px; font-weight: 600; white-space: nowrap;}
.delivery_info_sub_title_line {border-bottom: 1px solid #fff; width: 100%; height: 14px; margin-left: 10px;}

.delivery_info_table {font-size: 14px; line-height: 1.5; margin-bottom: 20px;}
.delivery_info_table tbody > tr > th {width: 10px; text-align: left; padding: 0 10px 10px 0; vertical-align: top; white-space: nowrap;}
.delivery_info_table tbody > tr > td {padding-bottom: 10px; vertical-align: top; font-weight: 300;}

.delivery_info_list {padding-left: 10px;}
.delivery_info_list > li {list-style: url(../images/list_white.png); margin-bottom: 5px;}

.kc_mark {width: 35px; margin-top: 6px;}

/*------------------------------------------------ BOTTOM BUTTONS WRAP --------------------------------------------------*/

.bottom_buttons_wrap {position: fixed; display: flex; bottom: 0; width: 100%; background-color: #000; padding: 20px 20px; box-shadow: 2px 0px 4px rgba(0,0,0,.3);}
.button_share {background-image: linear-gradient(#8bc4ff, #0081db); width: 40px; height: 40px; border-radius: 10px; box-shadow: 1px 1px 3px rgba(0,0,0,.2);}
.button_share > img {width: 20px; margin: 0 auto; padding: 10px 0;}

.button_event {margin-left: 10px; background-image: linear-gradient(#888, #444); width: calc(100% - 90px); border-radius: 10px; text-align: center; line-height: 40px; color: #fff;}
.button_event.on {background-image: linear-gradient(#ff2a00, #bd0900); box-shadow: 1px 1px 3px rgba(0,0,0,.2); color: #fff;}
.button_event.on.width_100 {width: calc(100% - 40px); margin: 0;}

/*-------------------------------------------- POPUP APPLY ----------------------------------------------*/

.popup {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255,255,255,.75); overflow: auto; z-index: 999;}
.button_x {position: absolute; top: 10px; right: 10px;}
.button_x > img {width: 24px;}

.popup_area {position: relative; width: 300px; height: 400px; left: 50%; top: 50%; transform: translate(-50%,-50%); background: url(../images/popup_bg.png) no-repeat center/cover; border-radius: 10px; padding: 20px 10px; box-shadow: 2px 2px 4px rgba(0,0,0,.7);}
.popup_title {font-size: 26px; font-weight: 900; text-align: center; border-bottom: 1px solid #888; padding-bottom: 10px; color: #fff;}

.popup_user_info_area {display: flex; background-color: #fff; padding: 10px; line-height: 1.4; font-size: 14px; height: 89px;}
.user_title {font-weight: 300;}
.user_data {margin-left: 15px; font-weight: 700;}
.user_contact_change {color: #00f; line-height: 1; font-size: 12px;}
.popup_txt {font-size: 26px; text-align: center; font-weight: 900; margin: 0 auto;}
.popup_contents_box {padding: 10px;}

.popup_contents {line-height: 1.3; color: #eee; text-align: right; margin-top: 45px;}
.popup_contents > p {margin-top: 2px; font-size: 12px; color: #f00; font-size: 14px; font-weight: 900;}
.popup_contents > strong {color: #f00; font-weight: 900; font-size: 24px; display: inline-block; margin-bottom: 10px;}
.popup_notice {padding: 10px;}
.popup_notice > li {list-style: url(../images/list_white.png);line-height: 1.3; font-size: 12px; color: #fff;}


.popup_buttons_area {display: flex; margin-top: 10px;}
.popup_button {background-image: linear-gradient(#888, #444); border-radius: 5px; text-align: center; line-height: 40px; color: #fff; width: 30%;}
.popup_button.red {background-image: linear-gradient(#ff2a00, #bd0900); box-shadow: 1px 1px 3px rgba(0,0,0,.2); color: #fff; width: 70%; margin-right: 5px;}

.width_100 {width: 100%;}

.popup.payment > .popup_area {height: auto; top: 20px; transform: translate(-50%,0);}
.popup.payment .popup_user_info_area {display: block; padding: 0; text-align: center; height: auto; margin-bottom: 10px;}
.popup_contents_title {background-color: #ccc; height: 30px; line-height: 30px; font-size: 20px; font-weight: 800; padding: 5px;}
.popup_contents_box {display: flex;}
.popup_contents_name {font-weight: 600; min-width: 70px; text-align: left; line-height: 2;}
.popup_contents_result {line-height: 2; text-align: left;}
#personal_info_aree + label + a {display: inline-block; color: #fff; font-size: 15px; border-bottom: solid 1px #fff;}
input[id="personal_info_aree"] + label {display: inline-block; width: 15px; height: 15px; border: solid 1px #ddd; color: #fff; margin-right: 6px; vertical-align: -4px; border-radius: 2px; background-color: #fff; outline: none;}
input[id="personal_info_aree"]:checked + label {background: #fff url("../images/check.png") no-repeat center/cover;}

.popup_ment {font-weight: 900; padding-top: 10px; color: #f00;}
.pay_data {display: flex; padding: 10px; text-align: left;}

#popup_preparing  > .popup_area, #popup_apply_fail  > .popup_area  {height: 300px;}
#popup_preparing  > .popup_area > .popup_contents, #popup_apply_fail  > .popup_area > .popup_contents  {margin: 20px 0;}

#popup_apply_close > .popup_area {height: 230px;}
#popup_apply_close > .popup_area > .popup_buttons_area {padding-top: 10px;}

#popup_personal_info > .popup_area {height: auto;}
.popup_personal_info {background-color: #fff; padding: 20px; margin-top: 30px; line-height: 1.4; font-size: 14px;}

#popup_postal_code {display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: #fff; z-index: 1000;}

/*--------------------------------- 팝업창들 보이기 - display:block / 안보이기 - none -----------------------------------------*/

#popup_apply {height: auto;} /*응모하기 팝업*/

#popup_apply_end {display: none;} /*응모완료 팝업*/

#popup_apply_win {display: none;} /*응모당첨 팝업*/

#popup_apply_fail {display: none;} /*응모당첨실패 팝업*/

#popup_order {display: none;} /*주문하기 팝업*/

#popup_payment_end {display: none;} /*결제완료 팝업*/

#popup_apply_close {display: block;} /*응모기간종료 팝업*/

#popup_preparing {display: none;} /*준비중 팝업*/

#popup_personal_info {display: none;} /*개인정보취급방침 팝업*/











